* {
    margin: 0;
    padding: 0;
}
a {
    color: black;
    text-decoration: none;
    
}

.link {
    color: #f4791f;
    text-decoration: underline;
}

.tmp {
    background-color: white;
    margin: 0px auto 20px;
    width: 1960px;
    height: 30px;
    position: fixed;
    z-index: 1;
}

.row {
    margin: 0px auto 0px;
    width: 960px;
    /* background-color:burlywood; */
    z-index: 2;
}
.top {
    height: 30px;
    width: 1200px;
    padding-top: 20px;
    position: relative;
}
.middle {
    height: 1500px;
    margin-top: 25px;
    position: relative;
    z-index: 0;
}

.name{
    margin-left: 165px;
    font-family: 'Piedra', cursive;
    font-size: 25px;
    height: 40px;
    width: 200px;
    line-height: 40px;
    position: fixed;
}

.title {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 20px;
    margin-left: 350px;
    margin-bottom: 30px;
    width: 960px;
    position: fixed;
    background-color: white;
}

.title li{
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    list-style: none;
    float: left;
}

.information{
    height: 650px;
    width: 200px;
    margin-top: 15px;
    text-align: center;
    float: left;
    position: fixed;
    padding-right: 10px;
    padding-top: 0px;
    box-shadow: 10px 0px 8px -10px grey;
}
.photo {
    margin: 0 40px 0;
    height: 150px;
    width: 150px;
    /* border-radius: 50% 50% 50% 50%; */
    background: url("hao_bio.jpg") no-repeat;
    background-size: 111.5px 156.5px;
}

.information p{
    font-family: 'Roboto Slab', serif;
}

.information p:nth-child(2){
    /* font-family: 'Roboto Slab', serif; */
    font-style: bold;
    margin-top: 20px;
}

.information p:nth-child(3){
    margin-top: 30px;
    /* font-family: 'Roboto Slab', serif; */
    font-style: italic;
    font-size: 15px;
}
.information p:last-child
{
    margin-top: 100px;
    color: rgba(0, 0, 0, 0.8);
}
.information .links {
    margin-left: 20px;
    margin-top: 50px;
    text-align: left;
}
.information a{
    font-size: 18px;
    display: block;
    margin: 5px 0 0 0px;
}
/* .information a:hover{
    font-size: 20px;
    font-weight: 500;
} */

.content {        
    height: 800px;
    width: 780px;
    margin-left: 280px;
    /* padding-top: 38px; */
    /* margin-top: 100px; */
    /* border-top: 1px solid gray; */
}
.content>div div {
    margin-top: 50px;
}
.content>div div:first-child{
    margin-top: 0;
}
.content li {
    font-family: 'Monda', sans-serif;
    font-size: 16px;
}

.content span {
    font-family: 'Baloo Paaji 2', cursive;
    color: rgb(14, 14, 14);
    font-weight: bold;
    font-size: 28px;
}

.profile{
    display: inline-block;
}
.research{
    display: none;
}
.research span{
    position: fixed;
    height: 40px;
    width: 900px;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -20px;
    margin-left: -8px;
    /* border-bottom: 1px double black; */
}
.research ol{
    padding-top: 70px;
}
.research li{
    margin-left: 20px;
    padding-bottom: 8px;
    /* list-style: none; */
}
.cite:hover{
    cursor: pointer;
}


.paper {
    display: inline;
    color: blue;
    text-decoration: underline;
}
.me {
    display: inline;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}


.icon {
    width: 1.2em; height: 1.2em;
    vertical-align: -0.3em;
    fill: currentColor;
    overflow: hidden;
 }

.swal-modal {
    
    /* background-color: rgba(63,255,106,0.69); */
    border: 3px solid white;
    width: 550px;
}
 /* .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #3e549a;
    font-size: 12px;
    border: 1px solid #3e549a; 
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
  .swal-button:hover{
    background-color: #3e549a;
  } */